 @charset "utf-8";
 /* CSS Document */
 a{text-decoration:none; color:#000;}
	/*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */
	/*İLK Sayfa Boyutu İçin */
	
	
	
	
	
	
	
	.boyut {
	width:100%;
	height:710px;
	background:url(../img/arka.png);}
	.kapsam {
	width:960px;
	margin:0 auto;}
	.logo {
	float:left;
	width:120px;
	height:45px;}
	.menukap {
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5;}
	.ın {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	.orta {
	margin:14.7% 0 0 0;
	float:left;
	font-size:25px;
	color:#fff;
	font-weight: bold;}
	.orta span {font-weight:normal;}
	.orta p {
	float:left;}
	.start {
	float:right;
	margin:7px 0 19% 100px;
	font-size:15px;
	width:185px;
	height:60px;
	background-color:#f97307;
	border:#c95e08;
	color:#fff;
	border-radius:5px;
	border-bottom:3px solid #c95e08; }
	.sekme { 
	width:815px;
	margin:0 auto; }
	.alt {
	height:115px;
	background-color:#dae5f7;
	width:100%; }
	.alt li {
	margin:2.5% 5% 0 0;
	float:left;
	text-decoration:none;
	list-style-type:none; }
	/*İLK Sayfa Boyutu Bitiş*/
	/*İKİNCİ Sayfa Boyutu İçin */
	.boyut2 {height:1420px; background-color:#f4f4f4;}
	.left {
	width:460px;
	margin:10% 0 0 0;
	float:left;}
	.right {
	float:right;
	margin:10% 0 0 0;
	font-family:italic;}
	.right p {color:#a7a7a7;}
	.right h1 {font-size:25px;}
	.right h3 {margin:10% 0 0 0;}
	.leftyazi {
	float:left;
	margin:7% 0 0 0;
	font-family:italic;
	clear:both;}
	.leftyazi h3 {margin:10% 0 0 0;}
	.leftyazi h1 {font-size:25px;}
	.leftyazi p {color:#a7a7a7;}
	.right2 {
	float:right;
	margin:10% 0 0 0;}
	.left3{
	border-radius:20px;
	float:left;
	margin:10% 0 0 0;}
	.left3 img {
	border-radius:20px;}
	.right3 {
	float:right; margin:8% 0 0 0; }
	.right3 h1 {text-indent:17px; font-size:25px;}
	.right3 h3 {color:#f8892e;} .right3 h3 img {background-color:#000;}
	.right3 p {color:#a7a7a7;}
	.left4 {margin:10% 0 0 0; float:left; width:53.1%;}
	.left4 h1{font-size:25px;}
	.left4 p{color:#a7a7a7;}
	.right4 {margin:10% 0 0 0; float:right; width:46.2%;}	
	.biralt {
	width:100%;
	height:200px;
	background-color:#36404b;
	clear:both;}
	.biralt h1 {
	color:#d1d3d5;
	text-align:center;
	margin:6% 0 0 0;}
	.biralt h1 span{
	color:#fff;}
	.ikialt {
	height:200px;
	background-color:#cfcece;}
	.ücalt {
	height:365px;
	background-color:#36404b;}
	.kapsa {text-align:center; margin:6% 0 0 0;}
	.ücalt p{
	font-size:20px;
	color:#fff;
	font-family:italic;}
	.ücalt h6 {
	font-size:15px;
	color:#989898;}
	.teaching {
	width:215px;
	height:60px;
	background-color:#65be3e;
	color:#fff;
	border:#498e2b;
	border-radius:10px;
	border-bottom:3px solid #498e2b;
	margin-top:3%;}
	/*İKİNCİ Sayfa Boyutu İçin bitiş */
	/*ÜÇÜNCÜ Sayfa Boyutu İçin */
	.boyut3 {height:790px; background-color:#f4f4f4;}
	.boyut3 h1 {color:#565656; font-size:25px; font-weight: bold; text-align:center; margin-top:110px;}
	.boyut3 h1 span {font-weight: normal;}
	.boyut3 p {font-size:15px; text-align:center; font-family:sans-herif; }
	.soltaraf {float:left; width:370px;  margin:100px 0 0 0;}
	.soltaraf img {padding:0 2% 0 0;}
	.soltaraf ul {padding:0;}
	.soltaraf li {margin:0 0 15px 0;}
	.sagtaraf {float:right; margin:100px 0 0 0;}
	/*ÜÇÜNCÜ Sayfa Boyutu İçin bitiş */
	/*DÖRDÜNCÜ Sayfa Boyutu İçin */
	.boyut4 {width:100%; background:#3d4855 url(../img/arka.png);}
	.ilk{width:250px; margin:50px 0 0 0; float:left;}
	.ilk h1 {color:#fff; margin:0 0 15% 0; font-size:16px;}
	.ilk p {color:#aeb1b4; font-size:14px;}
	.ikinci {width:185px; margin:50px 25px 0 0; float:left;}
	.ikinci h1 {color:#fff; margin:0 0 18% 0; font-size:16px;}
	.ikinci a{color:#aeb1b4;}
	.ikinci ul {padding:0;}
	.ikinci li {font-size:14px;}
	.ucuncu {margin:30px 10px 0 0; width:243px; float:left;}
	.ucuncu h1 {margin:20px 0 15% 0; color:#fff;font-size:16px;}
	.ucuncu a {color:#aeb1b4;}
	.ucuncu h1  img {float:left;}
	.ucuncu li {margin:0 0 15px 0; font-size:14px;}
	.yazılar {float:left;}
	.ucuncu img {float:left;}
	.dorduncu {width:246px; margin:4% 0 0 0; height:155px; float:left; }
	.dorduncu h1 {color:#fff; margin:4% 0  22%  0; font-size:16px;}
	.altkısım {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkısım  p {font-size:16px; margin:2.5% 0 0 15%; color:#bfc2c3;}
	/*DÖRDÜNCÜ Sayfa Boyutu İçin BİTİŞ */
	/*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */ /*İLK Sayfa Boyutu İçin */
	
	
	/*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */
	/*İLK Sayfa Boyutu İçin */
	.sayfa {
	width:100%;
	height:710px;
	background:url(../img/arka.png); }
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#36404b;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5;}
	.ın {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	.orta {
	clear:both;
	width:53%;
	margin:14.7% 0 0 0;
	float:left;
	font-size:25px;
	color:#fff;
	font-weight: bold; }
	.orta span {font-weight:normal;}
	.orta h4 {float:left; font-family:arial;}
	.orta h4 span {color:#aaaeb3;}
	.orta p {color:#aaaeb3; font-family:arial; margin:0 0 20% 0;}
	.orta p span {color:#fff;}
	.start  {float:left; margin:0 10% 0 0; font-size:15px; width:185px; height:60px; background-color:#f97307; border:#c95e08; color:#fff; border-radius:5px; border-bottom:3px solid #c95e08; }
	.start1 {float:left; font-size:15px; width:185px; height:60px; background-color:#65be3e; border:#498e2b; color:#fff; border-radius:5px; border-bottom:3px solid #498e2b; }
	/*İLK Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin*/
	.sayfa2 {height:1500px; width:100%; background-color:#f4f4f4; }
	.ust {margin-top:5%; text-align:center;}
	.text h3 {text-align:center; color:#565656; font-weight:bold; font-size:25px;}
	.text h3 span {color:#959595; font-weight:normal;}
	.text p {text-align:center; color:#808080; font-size:16px;}
	.pictures ul {padding:0; margin:0 0 0 55px;}
	.pictures ul li {float:left; margin:0 7.4% 0 0;}
	.gecis1	{text-align:center; margin-top:15%;}
	.gecis1 img {margin:0 0 15% 0;}
	.text1 h3{text-align:center; color:#565656; font-weight:bold; font-size:25px;}
	.text1 h3 span {color:#959595; font-weight:normal;}
	.text1 p {text-align:center; color:#808080; font-size:16px; margin:0 auto; width:83%;}
	.pusula {float:left; width:32%; margin:5% 2% 0 0;}
	.pusula img {margin-top:10%; float:left; padding:0;}
	.pusula h3 {float:left; margin-top:14.5%;}
	.pusula li {float:left; margin-top:10%;}
	.pusula ul {padding:0;}
	.bulut {float:left; width:32%; margin:5% 2% 0 0;}
	.bulut h3 {float:left; margin-top:14.5%;}
	.bulut img {margin-top:10%; float:left;}
	.bulut li{float:left; margin-top:10%;}
	.bulut ul {padding:0;}
	.gunes {float:left; width:32%; margin:5% 0 0 0;}
	.gunes h3 {float:left; margin-top:14.5%;}
	.gunes img {margin-top:10%; float:left;}
	.gunes li {float:left; margin-top:10%;}
	.gunes ul {padding:0;}
	.onaylama {float:left; width:32%; margin:5% 2% 0 0;}
	.onaylama h3 {float:left; margin-top:14.5%;}
	.onaylama img {margin-top:10%; float:left; padding:0 5% 0 0;}
	.onaylama li {float:left; margin-top:10%;}
	.onaylama ul {padding:0;}
	.pencere {float:left; width:32%; margin:5% 2% 0 0;}
	.pencere h3 {float:left; margin-top:14.5%;}
	.pencere img {margin-top:10%; float:left; padding:0 5% 0 0;}
	.pencere li {float:left; margin-top:10%;}
	.pencere ul {padding:0;}
	.konum {float:left; width:32%; margin:5% 0 0 0;}
	.konum h3 {float:left; margin-top:14.5%;}
	.konum img {margin-top:10%; float:left; padding:0 5% 0 0;}
	.konum li {float:left; margin-top:10%;}
	.konum ul {padding:0;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	.sayfa3 {height:710px; background-color:#36404b;}
	.ustyazı {text-align:center; color:#889099; margin-top:7%;}
	.ustyazı span {color:#fff;}
	.pictures1 ul li {float:left; margin:12% 5% 0 4%;}
	.pictures1 ul {text-align:center;}
	.text2 ul li {float:left; margin:0 7% 0 4.8%;}
	.text2 ul {text-align:center;}
	.text2 li {color:#ebecec;}
	.become {margin:0 auto; display:block; margin-top:15%; font-size:15px; width:220px; height:60px; background-color:#65be3e; border:#498e2b; color:#fff; border-radius:5px; border-bottom:3px solid #498e2b; }
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Dördüncü Sayfa Boyutu İçin*/
	.sayfa4 {height:660px; background-color:#f4f4f4;}
	.sayfa4 {height:600px; background-color:#f4f4f4;}
	.yazi {text-align:center;}
	.yazi h3 {font-size:25px; margin-top:8%;}
	.yazi span {font-weight:bold ; color:#565656; }
	.yazi p {font-family:arial;}
	.pictures2 ul li{float:left; margin-top:10%;}
	.pictures2 ul {margin-bottom:10%;}
	/*Dördüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	.sayfa5 {width:100%; background:#3d4855 url(../img/arka.png);}	
	.ilk{width:250px; margin:50px 0 0 0; float:left;}
	.ilk h1 {color:#fff; margin:0 0 15% 0; font-size:16px;}
	.ilk p {color:#aeb1b4; font-size:14px;}
	.ikinci {width:185px; margin:50px 25px 0 0; float:left;}
	.ikinci h1 {color:#fff; margin:0 0 18% 0; font-size:16px;}
	.ikinci a{color:#aeb1b4;}
	.ikinci ul {padding:0;}
	.ikinci li {font-size:14px;}
	.ucuncu {margin:30px 10px 0 0; width:243px; float:left;}
	.ucuncu h1 {margin:20px 0 15% 0; color:#fff;font-size:16px;}
	.ucuncu a {color:#aeb1b4;}
	.ucuncu h1  img {float:left;}
	.ucuncu li {margin:0 0 15px 0; font-size:14px;}
	.yazılar {float:left;}
	.ucuncu img {float:left;}
	.dorduncu {width:246px; margin:4% 0 0 0; height:155px; float:left; }
	.dorduncu h1 {color:#fff; margin:4% 0  22%  0; font-size:16px;}
	.altkısım {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkısım  p {font-size:16px; margin:2.5% 0 0 15%; color:#bfc2c3;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	/*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */ /*İKİ Sayfa Boyutu İçin */
	
	
	/*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ 
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.bolum {
	width:100%;
	height:605px;
	background:url(../img/arka.png); }
	.ortaa {
	width:53%;
	margin:14.7% 0 0 0;
	float:left;
	font-size:25px;
	color:#fff;
	font-weight: bold; }
	/*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*/
	.galeri-item {display:none;}
	.galeri-item.active{display:block;}
	.sag{float:right; width:35%; margin-top:12.3%;}
	.ortaa span {font-weight:normal;}
	.ortaa h4 {float:left; font-family:arial; width:100%;}
	.ortaa h4 span {color:#aaaeb3;}
	.ortaa p {color:#aaaeb3; font-family:arial; margin:0 0 20% 0;}
	.ortaa p span {color:#fff;}
	.start  {float:left; margin:0 10% 0 0; font-size:15px; width:185px; height:60px; background-color:#f97307; border:#c95e08; color:#fff; border-radius:5px; border-bottom:3px solid #c95e08; }
	.start1 {float:left; font-size:15px; width:185px; height:60px; background-color:#65be3e; border:#498e2b; color:#fff; border-radius:5px; border-bottom:3px solid #498e2b; }
	.start1 img {margin:-3px 8px 0 0;}
	/*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*//*SLİDER BÖLÜMÜNÜN*/
	/*İkinci Sayfa Boyutu İçin*/
	.bolum2 {height:770px; width:100%; background-color:#f4f4f4; }
	.ust ul{margin-top:40px;  margin-left:40%;}
	.ust li {width:10px; height:10px; background:#fff; border:2px solid #6e7d8d; border-radius:50%; float:left;cursor:pointer; margin:0 0 0 10px;}
	.ust li:first-child{margin-left:0;}
	.ust li.active{background:#6e7d8d;}
	.text {margin-top:10%;}
	.text h3 {text-align:center; color:#565656; font-weight:bold; font-size:25px;}
	.text h3 span {color:#959595; font-weight:normal;}
	.text p {text-align:center; color:#808080; font-size:16px;}
	.pictures {width:100%;}
	.pictures ul li {float:left; margin:10% 2.7% 0 0;}
	.yazilar {width:100%; margin:0 auto; font-weight:bold;}
	.yazilar ul li {float:left; margin:0 2.8% 0 2% }
	.yazilar ul li span{display:block;clear:both;text-align:center;}
	.gecis1	{text-align:center; margin-top:15%;}
	.gecis1 img {margin:0 0 15% 0;}
	.text1 h3{text-align:center; color:#565656; font-weight:bold; font-size:25px;}
	.text1 h3 span {color:#959595; font-weight:normal;}
	.text1 p {text-align:center; color:#808080; font-size:16px; margin:0 auto; width:83%;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	.bolum3 {height:425px; background-image:url(../img/arka.png);}
	.ustyazı {text-align:center; color:#babec2; margin-top:10%; font-size:19px;}
	.ustyazı span {color:#fff; font-weight: bold;}
	.ustyazı1 {font-size:18px; color:#6c757e; text-align:center;}
	.butonlar {margin:0 auto; width:48%; margin-top:10%;}
	.star  {float:left; margin:0; width:215px; height:60px; background-color:#f97307; border-radius:8px;  border:0; border-bottom:3px solid #c95e08; color:#fff; margin:0 5% 0 0;}
	.star1 {float:left; margin:0; width:215px; height:60px; background-color:#65be3e; border-radius:8px; border:0; border-bottom:3px solid #498e2b; color:#fff;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Dördüncü Sayfa Boyutu İçin*/
	.bolum4 {height:815px; background-color:#f4f4f4;}
	.usttext {color:#565656; font-size:19px; font-weight:bold; text-align:center; margin-top:11%;}
	.usttext span {color:#6b6b6b;  font-weight:normal;}
	.usttext1 {width:83%; margin:0 auto; color:#565656; font-size:14px;}
	.usttext1 span {width:61%; margin:0 auto; display:block; margin-top:3%;}
	.list {width:225px; float:left; margin:5% 1.5% 0 0;}
	.list img {margin:0 15px 0 0;}
	.list h3 ,p,listbuton {text-align:center;}
	.list p {color:#999999; font-size:14px;}
	.listbuton {width:225px; height:55px; background-color:#65be3e; color:#fff; border-radius:7px; border:0; border-bottom:3px solid #498e2b; margin-top:15%;}
	.listbuton2 {width:225px; height:55px; background-color:#8b8b8b; color:#fff; border-radius:7px; border:0; border-bottom:3px solid #727272; margin-top:15%;}
	/*Dördüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.üc {margin-top:3%; float:left; margin-left:3%;}
	.üc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	   .chart {
	   font-size:45px;
	   color:#000;
	   border-radius:50%;
	   position:relative;
	   width:185px;
	   height:185px;
	   line-height:185px;
	   margin:30px auto;
	   text-align:center; }
	   .chart canvas {
	   position: absolute;
	   top: 0;
	   left: 0;	 }
	   .percent {
	   display: inline-block;
	   line-height: 110px;
	   z-index: 2; }
	  .percent:after {
	   content: '%';
	   margin-left: 0.1em;
	   font-size: .8em;} 
	   .angular {
	   margin-top: 100px;}
	   .angular .chart {
	   margin-top: 0;}
	   .input {
	   display: block;
	   margin: auto;
	   margin-bottom: 3em;}
	   .btn {
	   display: block;
	   text-align:center;
	   width: 200px;
	   margin: 0 auto;
	   padding: 10px 20px;
	   background: #cccccc;
	   color: #ffffff;
	   text-transform: uppercase;
	   cursor: pointer;
	   font-size: 0.8em;
	   -moz-box-sizing: border-box;
	   box-sizing: border-box;}
	   .btn:hover {
	   background: #333333;
	   color: #ffffff;}
   /*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ /*ÜÇÜNCÜ Sayfa Boyutu İçin */ 
   
   
   /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/ /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/ /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/ /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/
   /*İLK Sayfa Boyutu İçin Bölüm*/
	.teacher {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.ın {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
   /*İlk Sayfa Boyutu İçin Bitiş */
   /*İkinci Sayfa Boyutu İçin */
	.teacher2 {background-color:#dae5f7; height:155px;}
	.teacher2text h2 {color:#565656; margin-top:7%; width:38%;}
	.teacher2text ul {float:right; margin-top:-4%; width:31%;}
	.teacher2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.teacher2text a {color:#a0a3a8;}
	.teacher2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.teacher3 {height:1400px; background-color:#f4f4f4;}
	.teacher3up p {float:left; color:#cfcece; margin:90px 6% 0 3%;}
	.teacher3up p span{color:#65be3e;}
	.teacher3up img {padding-top:40px; margin:0 auto; display:block;}
	.teacher3up h2 {margin-top:90px; color:#65be3e; font-size:20px;}
	.forum li {float:left; font-size:15px; margin:0 25% 0 0; color:#656565; font-weight:normal;}
	.forum ul {padding:0;}
	.forum input {height:40px; width:285px; border:2px solid #e7e7e7; border-top-color:#e7e7e7; border-radius:8px; text-indent:10px; font-size:13px; color:#cecece; margin:25px 2% 0 0;}
	.forum2 select {height:40px; width:285px; border-color:#e7e7e7; border-top-color:#e7e7e7; border-radius:8px; text-indent:10px; font-size:13px; color:#cecece; margin:25px 2% 0 0;}
	.forum1 li {float:left; font-size:15px; margin:0 20% 0 0; color:#656565; font-weight:normal;}
	.forum2 li {float:left; font-size:15px; margin:0 28% 0 0; color:#656565; font-weight:normal;}
	.bolum3teac h2{font-size:20px; color:#65be3e; margin-top:90px;}
	.label {margin-top:15px;}
	.bolum3add h3{margin-top:50px; color:#565656;}
	.bolum3add input {width:290px; height:40px; border-color:#e0e0e0; border-radius:5px; font-size:14px; text-indent:10px; color:#e0e0e0;}
	.add {color:#fff; width:65px; height:40px; border-radius:5px; background-color:#65be3e;  border:4px solid #65be3e; border-bottom-color:#498e2b;}
	.twit {margin-top:45px; float:left;}
	.twit img {height:45px; margin:0 15px 0 0;}
	.twit input {color:#565656; height:35px; text-indent:10px; width:300px; border-radius:10px; border:1px solid #d9d9d9;}
	.fac {margin-top:45px; float:left;}
	.fac input {color:#565656; width:300px; text-indent:10px; height:35px; border-radius:10px; border:1px solid #d9d9d9;}
	.fac img {height:45px;  margin:0 15px 0 15px;}
	.teacher3add ul {clear:both; padding:0;}
	.teacher3add li {float:left;  margin:25px 20px 0 0;}
	.teacher3addbut {margin-top:145px;}
	.upda {width:185px; height:60px; background-color:#f97307; color:#fff; border-radius:6px; border:4px solid #f97307; border-bottom-color:#c95e08; }
	.update {width:185px; height:60px; background-color:#65be3e; color:#fff; border-radius:6px; border:4px solid #65be3e; border-bottom-color:#498e2b; margin-left:25px;}
	.update img {margin:-2.5px 5px 0 0;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */	 
	/*Beşinci Sayfa Boyutu İçin*/
	.teacher4 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.üc {margin-top:3%; float:left; margin-left:3%;}
	.üc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	/*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/ /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/ /*DÖRDÜNCÜ Sayfanın Css İçin Bölüm*/
	 
	 
	/*BEŞİNCİ Sayfanın Css İçin Bölüm*/ /*BEŞİNCİ Sayfanın Css İçin Bölüm*/ /*BEŞİNCİ Sayfanın Css İçin Bölüm*//*BEŞİNCİ Sayfanın Css İçin Bölüm*/
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.bol {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.bol2 {background-color:#dae5f7; height:155px;}
	.bol2text h2 {color:#565656; margin-top:7%; width:38%; font-weight:bold;}
	.bol2text ul {float:right; margin-top:-4%; width:31%;}
	.bol2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.bol2text a {color:#a0a3a8;}
	.bol2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.bol3 {height:1200px; background-color:#f4f4f4;}
	.bol3up p {float:left; margin:90px 6% 0 3%;}
	.bol3up p a:active {color:green;}
	.bol3up p span{color:#65be3e;}
	.bol3up a {color:#cfcece;}
	.bol3up img {padding-top:40px; margin:0 auto; display:block;}
	.bol3up h2 {margin-top:90px; color:#65be3e; font-size:20px;}
	.title img {width:295px; height:150px;}
	.title h2 {margin-top:-9%; margin-left:5%; color:#fff; position:absolute; }
	.basic {border:3px solid #dae4f7; height:610px; width:295px; margin-top:65px; text-align:center; float:left; margin-left:1%;}
	.buy {border-radius:50%; width:150px; height:145px; background-color:#65be3e; margin:-40% 0 0 26%; position:relative;}
	.buy p {color:#fff; font-size:40px; text-align:center; padding-top:25%; }
	.buy hr {margin:0 auto; margin-top:-22%; opacity:0.4;}
	.buy h5 {color:#fff; font-size:20px; margin:0;}
	.buy2 {border-radius:50%; width:150px; height:145px; background-color:#f97307; margin:-40% 0 0 26%; position:relative;}
	.buy2 p {color:#fff; font-size:40px; text-align:center; padding-top:25%; }
	.buy2 hr {margin:0 auto; margin-top:-22%;}
	.buy2 h5 {color:#fff; font-size:20px; margin:0;}
	.buy1 {height:95px; background-color:#dae4f7; margin-top:-22.5%;}
	.butt {height:115px; background-color:#dae4f7;}
	.item ul {padding:0; margin:0;}
	.item li {height:50px; color:#717171; line-height:50px;}
	.item .blue {color:#717171; background-color:#dae4f7;}
	.butt button {height:55px; width:140px; color:#fff; background-color:#65be3e; border:2px solid #65be3e; border-bottom-color:#498e2b; border-radius:7px; margin-top:10%;}
	.butt2 button {height:55px; width:140px; color:#fff; background-color:#f97307; border:2px solid #f97307; border-bottom-color:#cf6109; border-radius:7px; margin-top:10%;}
	.butt2 {height:115px; background-color:#dae4f7;}
	.en {width:220px; height:60px; background-color:#65be3e; color:#fff; margin-top:75px; border:4px solid #65be3e; border-bottom-color:#498e2b; border-radius:5px; clear:both;}
	.en img {margin:-3px 10px 0 0;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin*/
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	/*BEŞİNCİ Sayfanın Css İçin Bölüm*/ /*BEŞİNCİ Sayfanın Css İçin Bölüm*/ /*BEŞİNCİ Sayfanın Css İçin Bölüm*//*BEŞİNCİ Sayfanın Css İçin Bölüm*/
	
	
	/*ALTINCI Sayfa Boyutu İçin Bitiş */ /*ALTINCI Sayfa Boyutu İçin Bitiş */ /*ALTINCI Sayfa Boyutu İçin Bitiş *//*ALTINCI Sayfa Boyutu İçin Bitiş */
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.bolumm {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.bolumm2 {background-color:#dae5f7; height:155px;}
	.bol2text h2 {color:#565656; margin-top:7%; font-weight:bold; float:left;}
	.bol2text ul {float:right; margin-top:7%; width:31%;}
	.bol2text ul {float:right; margin-top:7%; width:31%;}
	.bol2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.bol2text a {color:#a0a3a8;}
	.bol2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.bolumm3 {height:1211px; background-color:#f4f4f4;}
	.kutuu {width:215px; height:630px;}
	.kutuu img {margin:85px 0 0 0; padding:0;}
	.kutuu  li {background-image:url(../img/kutuu.png); background-repeat: no-repeat; margin:60px 0 0 0; height:33px; text-align:center; padding-top:10px; }
	.kutuu .turuncu {background-image:url(../img/turuncu.png); color:#fff;}
	.kutuu ul {padding:0;}
	.kutuutext {float:right; width:700px; height:570px; margin-top:-67%;}
	.kutuutext h2 {color:#656565;}
	.kutuutext p {color:#a8a8a8; font-weight:normal; margin:35px 0 35px 0; font-family:italic;}
	.kutuutext2 p{margin:30px 0 0 0;}
	.kutuutext2 {margin-top:10%;}
	.kutuu li:hover {background-image:url(../img/acık.png);}
	.kutuu li:active {background-image:url(../img/turuncu.png);}
	.sagg {margin:34% 0 0 27%; width:330px; height:195px;}
	.sagg h2 {margin:-11% 0 0 25%; color:#565656;}
	.sagg p {width:330px; height:130px; color:#a8a8a8; margin-top:10%; font-family:Arial,Sans-serif;} 
	.soll {margin:-20% 0 0 0; float:right; width:330px; height:195px;}
	.soll h2 {margin:-11% 0 0 25%; color:#565656;}
	.soll p {width:330px; height:130px; color:#a8a8a8; margin-top:10%; font-family:Arial,Sans-serif;} 
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Dördüncü Sayfa Boyutu İçin*/
	.bolumm4 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Dördüncü Sayfa Boyutu İçin Bitiş */
	/*ALTINCI Sayfa Boyutu İçin Bitiş */ /*ALTINCI Sayfa Boyutu İçin Bitiş */ /*ALTINCI Sayfa Boyutu İçin Bitiş */ /*ALTINCI Sayfa Boyutu İçin Bitiş */
	
	
	/*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.boluk {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.boluk2 {background-color:#dae5f7; height:155px;}
	.boluk2text h2 {color:#565656; margin-top:7%; font-weight:bold; float:left;}
	.boluk2text ul {float:right; margin-top:7%; width:31%;}
	.boluk2text ul {float:right; margin-top:7%; width:31%;}
	.boluk2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.boluk2text a {color:#a0a3a8;}
	.boluk2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.boluk3 {height:710px; background-color:#f4f4f4;}
	.load {height:50px; width:140px; background-color:#c9c9c9; color:#fff; border-radius:4px; border:3px solid #c9c9c9; margin:0 auto; display:block; margin-top:1%;}
	.kutular {margin-top:10%;}
	.kutular img {margin:0 15px 25px 0;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Dördüncü Sayfa Boyutu İçin*/
	.boluk4 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Dördüncü Sayfa Boyutu İçin Bitiş */
	/*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */ /*YEDİNCİ Sayfa Boyutu İçin Bitiş */
	
	
	/*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */
	 /*İLK Sayfa Boyutu İçin Bölüm*/
	.video {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.video2 {background-color:#dae5f7; height:155px;}
	.video2text h2 {color:#565656; margin-top:7%; width:38%; font-weight:bold;}
	.video2text ul {float:right; margin-top:-4%; width:31%;}
	.video2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.video2text a {color:#a0a3a8;}
	.video2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.video3 {height:1700px; background-color:#f4f4f4;}
	.menuul  span li {color:#565656; background-color:#f97307; width:100px; height:30px; border-radius:30px;}
	.menuul li {color:#565656; background-color:#dae5f7; height:35px; width:130px; border-radius:20px; text-align:center; font-weight:bold; padding-top:1.5%;}
	.menuul ul li {float:left; margin:0 15px 0 0;}
	.menuul a {color:#565656}
	.menuul ul {float:left; font-size:15px; padding:0; margin-top:65px;}
	.vdeo img {margin:65px 17px 0 0;}
	.vdeo {float:left; height:440px;}
	.vdeo h4 {font-weight:bold; color:#565656; margin-top:30px; margin-bottom:35px;}
	.vdeo p {font-weight:bold; font-size:13px; margin:20px 0 0 0;}
	.vdeo p span {font-weight:lighter; color:#8b8b8b;}
	.text {width:165px; height:0px;}
	.textright {float:right; margin:-19px 30px 0 0;}
	.textright p img {margin:0 0 0 15px;}
	.son {clear:both;}
	.son img {margin:85px 0 0 5px;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin*/
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	/*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */ /*SEKİZZZ Sayfa Boyutu İçin Bitiş */
	
	
	/*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.videosec {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.videosec2 {background-color:#dae5f7; height:155px;}
	.videosec2text h2 {color:#565656; margin-top:7%; width:38%; font-weight:bold;}
	.videosec2text ul {float:right; margin-top:-4%; width:31%;}
	.videosec2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.videosec2text a {color:#a0a3a8;}
	.videosec2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.videosec3 {height:1600px; background-color:#f4f4f4;}
	.menuul  span li {color:#565656; background-color:#f97307; width:100px; height:30px; border-radius:30px;}
	.menuul li {color:#565656; background-color:#dae5f7; height:35px; width:130px; border-radius:20px; text-align:center; font-weight:bold; padding-top:1.5%;}
	.menuul ul li {float:left; margin:0 15px 0 0;}
	.menuul a {color:#565656}
	.menuul ul {float:left; font-size:15px; padding:0; margin-top:65px;}	
	.watchvdeoright h3{float:left; margin:7% 0 0 3%; font-weight:bold;}
	.watchvdeoright p {float:left; width:65%; margin:30px 0 0 3%; color:#959595; font-weight:lighter;}
	.vdeotext {float:left; width:68%;} .vdeotext li {float:left; font-size:13px; font-weight:bold; margin:0 35px 0 0; color:#565656;} .vdeotext ul {margin:11% 0 0 3%; padding:0;}
	.vdeotext li span {color:#8b8b8b;}
	.vvdeo {float:left;}
	.vvdeo img {margin-top:65px;}
	.butto {margin-top:30px; }
	.button {background-color:#65be3e; color:#fff; width:300px; height:55px; border-radius:10px; border:0; font-weight:bold; margin-bottom:50px;}
	.button img {margin:-2px 15px 0 0;}
	.vdeo green {width:300px; height:55px; color:#fff; background-color:#65be3e;}
	.son {clear:both;}
	.son img {margin:85px 0 0 5px;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin*/
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */
	/*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */ /*DOKUZZ Sayfa Boyutu İçin Bitiş */
	
	
	
	/*İLK Sayfa Boyutu İçin Bölüm*/