 @charset "utf-8";
 /* CSS Document */
 a{text-decoration:none; color:#000;}
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.videosec {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	/*İkinci Sayfa Boyutu İçin */
	.videosec2 {background-color:#dae5f7; height:155px;}
	.videosec2text h2 {color:#565656; margin-top:7%; width:38%; font-weight:bold;}
	.videosec2text ul {float:right; margin-top:-4%; width:31%;}
	.videosec2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.videosec2text a {color:#a0a3a8;}
	.videosec2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	/*Üçüncü Sayfa Boyutu İçin */
	.videosec3 {height:1600px; background-color:#f4f4f4;}
	.menuul  span li {color:#565656; background-color:#f97307; width:100px; height:30px; border-radius:30px;}
	.menuul li {color:#565656; background-color:#dae5f7; height:35px; width:130px; border-radius:20px; text-align:center; font-weight:bold; padding-top:1.5%;}
	.menuul ul li {float:left; margin:0 15px 0 0;}
	.menuul a {color:#565656}
	.menuul ul {float:left; font-size:15px; padding:0; margin-top:65px;}	
	.watchvdeoright h3{float:left; margin:7% 0 0 3%; font-weight:bold;}
	.watchvdeoright p {float:left; width:65%; margin:30px 0 0 3%; color:#959595; font-weight:lighter;}
	.vdeotext {float:left; width:68%;} .vdeotext li {float:left; font-size:13px; font-weight:bold; margin:0 35px 0 0; color:#565656;} .vdeotext ul {margin:11% 0 0 3%; padding:0;}
	.vdeotext li span {color:#8b8b8b;}
	.vvdeo {float:left;}
	.vvdeo img {margin-top:65px;}
	.butto {margin-top:30px; }
	.button {background-color:#65be3e; color:#fff; width:300px; height:55px; border-radius:10px; border:0; font-weight:bold; margin-bottom:50px;}
	.button img {margin:-2px 15px 0 0;}
	.vdeo green {width:300px; height:55px; color:#fff; background-color:#65be3e;}
	.son {clear:both;}
	.son img {margin:85px 0 0 5px;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	/*Beşinci Sayfa Boyutu İçin*/
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */