 @charset "utf-8";
 /* CSS Document */
 a{text-decoration:none; color:#000;}
	/*İLK Sayfa Boyutu İçin Bölüm*/
	.bol {
	width:100%;
	height:120px;
	background-color:#36404b;}
	.kapsam {
	width:960px;
	margin:0 auto; }
	.logo {
	background-color:#404c59;
	margin-top:1%;
	float:left;
	width:120px;
	height:45px; }
	.menukap {
	margin-top:1%;
	height:40px;
	width:670px;
	float:right; }
	.menukap hr {margin-top:0;}
	.menukap ul {
	margin:25px 0 0 0;
	float:right;
	font-size:15px; }
	.menukap ul li{
	margin:0 20px 0 0;
	float:left; }
	.menu {
	font-size:15px;	
	color:#97a5b5; }
	.in {float:left; margin:-5px 20px 0 0; width:90px; height:30px; background-color:#6e7d8d; border-radius:17px; border:0; color:#fff;}
	.up{float:left; margin:-5px 0 0 0; width:90px; height:30px; background-color:#f97307; border-radius:17px; border:0; color:#fff;}
	/*İlk Sayfa Boyutu İçin Bitiş */
	
	/*İkinci Sayfa Boyutu İçin */
	.bol2 {background-color:#dae5f7; height:155px;}
	.bol2text h1 {color:#565656; margin-top:7%; width:38%; font-size:20px; font-weight:bold;}
	.home {margin-left:11%;}
	.bol2text ul {float:right; margin-top:-4%; width:31%;}
	.bol2text li {float:left; margin:0 10px 0 0; font-size:15px; color:#a0a3a8;}
	.bol2text a {color:#a0a3a8;}
	.bol2text a span {color:#565656;}
	/*İkinci Sayfa Boyutu İçin Bitiş */
	
	/*Üçüncü Sayfa Boyutu İçin */
	.bol3 {height:3380px; background-color:#f4f4f4;}
	.disikapsa {float:left; width:65%;}
	.ilktext {float:left; font-weight:bold; font-size:14px; color:#565656; margin:50px 0 60px 0;}  .ilktext h2 {margin-bottom:40px;}
	.ilktextbuton {width:160px; height:60px; background-color:#f97307; border:2px solid #f97307; border-bottom-color:#c85c05; float:right; border-radius:4px; color:#fff; font-weight:bold; margin-top:30px; }
	
	.soltext h2{color:#8b8b8b; font-size:16px;}
	.soltext p {line-height:30px; color:#a7a7a7; margin-top:60px; font-family:italic;}
	.soltext img {margin-top:60px;}
	
	.backblue {width:620px; height:240px; background-color:#dae4f7; margin:70px 0 0 0;}
	.backblue h2 {color:#565656; margin:35px 0 0 40px; font-weight:lighter;}
	
	.ic {float:left;}
	.ic img {margin:30px 0 0 40px;}
	.ic p {float:right; width:70%; color:#8b8b8b; line-height:30px; margin-left:25px;}
	.ic p span {color:#565656;}
	.share {margin:40px 0 60px 0;}
	
	.comments h2 {color:#565656; font-weight:bold; font-size:20px;}
	.grikutu {width:620px; height:150px; margin-top:50px;}
	.grikutu h3  {float:left; margin:-6% 0 0 9%; position:absolute; color:#f9801e;}
	.grikutu p {float:right; width:80%; line-height:30px; margin-top:-6%;}
	.grikutu p span {float:left; margin:-10.5% 0 0 30%; font-size:12px;  color:#b0b0b0;}
	.sagreply {float:right;}
	
	.grikutu2 {width:540px; margin:70px 0 80px 80px;}
	.grikutu2 h3  {float:left; margin:-5% 0 0 8%; position:absolute; color:#f9801e;}
	.grikutu2 p {float:right; width:80%; line-height:30px; margin-top:-5%;}
	.grikutu2 p span {float:left; margin:-11.5% 0 0 36%; font-size:12px;  color:#b0b0b0;}
	
	.post {font-weight:bold; color:#565656; font-size:14px;}
	.post p {margin:30px 0 50px 0; color:#9b9b9b; font-weight:lighter; line-height:30px;}
	
	.text {float:left; margin:40px 0 0 -14px; font-size:13px; font-weight:bold; }
	.text li{margin:0 0 15px 0; color:#565656; }
	.text li span {color:#8b8b8b;}
	.textyazı  {float:right; width:32%; color:#8b8b8b; margin:0 5px 0 0;} .ilktext img {margin-bottom:20px;}
	.son {clear:both; margin-bottom:7%;}
	
	.kapsaright {float:right; width:35%;}
	.rightyazi  {float:right; font-weight:bold; font-size:14px; color:#565656; margin-top:20px;} .rightyazi h2 {margin:60px 0 40px 0;}
	.kapsaright input {width:300px; line-height:40px; border:2px solid #d9d9d9; border-radius:10px; text-indent:20px; opacity:0.4;background:url(..//img/arama.png) 100% 50% no-repeat;}
	.rightgaleri {margin-top:50px;}
	.altili {margin:0 0 15px 0;} .rightgaleri img {margin:0 10px 0 0;}
	.sosyall h3{background:url(../img/twitt.png) 0 0 no-repeat;height:40px;line-height:40px;padding:0 0 0 50px;}
	.sosyall {margin-bottom:80px;}
	
	.actionn ul{padding:0;}
	.actionn li {font-size:15px; line-height:40px;}
	.action a {color:#a2a2a2;}
	.actionn a:active , .actionn li.active  a{color:green; background:url(..//img/beyazstart.png) 0 0 no-repeat; padding:0 0 0 30px; }
	
	.rightrecent ul {padding:0;}
	.rightrecent li {line-height:25px; color:#565656; font-weight:bold;}
	.rightrecent {margin-bottom:40px;}
	.rightrecent  .normal {font-weight:lighter; color:#a2a2a2;}
	
	.rightrecent2 ul {padding:0;}
	.rightrecent2 li {line-height:25px; color:#565656; font-weight:bold; background-color:#dae4f7;}
	.rightrecent2 {margin-bottom:40px;}
	.rightrecent2 .normal {font-weight:lighter; color:#a2a2a2;}
	
	.nameinput input{opacity:0.3; font-size:15px; text-indent:20px; width:300px; height:45px; border-radius:10px; border:2px solid #dbdbdb; margin:0 0 30px 0;}
	.nameinputt {float:right; margin:-62% -20px 0 0;}
	.nameinputt textarea {resize:none; width:300px; opacity:0.3; height:270px;  text-indent:20px; border-radius:10px; border:2px solid #dbdbdb;}
	
	.reset {margin:0 20px 0 0; width:130px; height:60px; background-color:#cfcece; border:#acacac; border-bottom:2px solid #acacac;  border-radius:5px; color:#fff; font-weight:bold; font-size:15px; 	}
	.send {width:215px; height:60px; background-color:#65be3e; border:#498e2b; 	border-bottom:2px solid #498e2b; border-radius:5px; color:#fff; font-weight:bold; font-size:15px;}
	.send img {margin:-2px 20px 0 0;}
	.buttonkap {float:right; margin-bottom:30px;}
	/*Üçüncü Sayfa Boyutu İçin Bitiş */
	 
	 
	/*Beşinci Sayfa Boyutu İçin*/
	.bolum5 {height:410px; background-image:url(../img/arka.png);}
	.bir {margin-top:3%; float:left;}
	.bir h2 {color:#fff; margin-bottom:15%;}
	.bir ul {padding:0;}
	.bir li {margin:0 0 8% 0; color:#bcbec0;}
	.iki {margin-top:3%; float:left; margin-left:2%;}
	.iki h2 {color:#fff; margin-bottom:20%;}
	.iki a {color:#bcbec0;}
	.iki ul {padding:0;}
	.iki li {margin:0 0 10% 0;}
	.uc {margin-top:3%; float:left; margin-left:3%;}
	.uc h2 {color:#fff; margin-bottom:15%;}
	.dort {margin-top:3%; float:left; margin-left:1%;}
	.dort h2 {color:#fff; margin-bottom:15%;}
	.ilk {width:73%;}
	.yan p span {font-size:14px; font-style: oblique;}
	.yan h4 {font-size:17px;}
	.yan h5 {font-size:14px;}
	.yan {float:right; margin-top:-8.5%; color:#cbcccc;}
	.two {width:73%; margin-top:20%;}
	.yan1 p  {font-size:14px; font-style: oblique;}
	.yan1 {float:right; margin-top:-9%; color:#cbcccc;}
	.yan1 h4 {font-size:17px;}
	.yan1 h5 {font-size:14px;}
	.altkisim {background:url(../img/alt.png); height:70px; width:100%; clear:both;}
	.altkisim  p {font-size:16px; margin:2% 0 0 15%; color:#bfc2c3; float:left;}
	/*Beşinci Sayfa Boyutu İçin Bitiş */